pandas==0.24.2
matplotlib==3.0.3
scikit-learn==0.20.3
tqdm==4.31.1
bs4==0.0.1
statsmodels==0.9.0
scipy==1.2.1
lxml==4.9.1
python-dotenv==0.10.1
pyyaml==5.1.1
tabulate==0.8.2
requests==2.20.0
ujson==1.35
v20==3.0.25.0
telegram-send==0.20
imgkit==1.0.1
wkhtmltopdf==0.2
pandas-market-calendars==1.1
